body {
    font-family: sans-serif;
}

header{
      background-color:#033E6B ;
}

main h1{
      text-align: center;
}

main h3{
color: #FF2C00;
font-size:25px;
}

ul {
    list-style:url(https://mars.algoritmika.org/uploads/2021/01/Arrow%201_0_1611261359.svg) ;
}

main h2 {
  border-bottom:black ;
  border-top:black ;
  text-align: center;
  font-size:30px;
}

footer {
    background-color:#033E6B ;
}

footer p {
     color:white ;
}
